
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Display Packages</title>
<style>
	body{
		background-image:url("https://images.unsplash.com/photo-1419133203517-f3b3ed0ba2bb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cml2ZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
		background-repeat:no-repeat;
		background-size:cover;
	}
	h1,h2{
 		text-align:center;
		font-family:ariel;
	}
	*{
		text-align:center;
	}
</style>
<h1>Welcome to RV Tourism!</h1>
<h2>Visit the best places and explore unlimited!</h2>
<body>

<div ng-app="myApp" ng-controller="namesCtrl">
<p>Sort by :</p>
<button ng-click="orderByMe('name')">Package name</button>
<button ng-click="orderByMe('price')">Price</button>
<br>
<table border="1" width="75%" height="60%" align="center">
<tr>
<th>Name</th>
<th>Duration</th>
<th>Price</th>
</tr>
<tr ng-repeat="x in names | orderBy:myOrderBy">
<td>{{x.name}}</td>
<td>{{x.duration}}</td>
<td>{{x.price}}</td>
</tr>
</table>
<br/>
<br>
<h2>Search for your favourite destination spots here!</h2>
<p><input type="text" ng-model="test"></p>

<ul>
  <li ng-repeat="x in name | filter:test">
    {{ x }}
  </li>
</ul>

</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
	$scope.names = [
        {name:'India-Ooty',duration:'5 days/6 nights',price:'18000'},
        {name:'India-Agra',duration:'5days /6 nights' ,price:'20000'},
        {name:'France-Paris',duration: '5days / 6 nights' ,price:'210000'},
        {name:'UK- London',duration: '5days / 6 nights' ,price:'250000'},
        {name:'Tokyo-Japan',duration: '5days / 6 nights' ,price:'200000'},
        {name:'Switzerland-Zurich',duration: '5days / 6 nights' ,price:'280000'},
        {name:'Switzerland-Geneva',duration: '7days / 8 nights', price:'300000'},
        {name:'India-Kashmir',duration: '2days / 3 nights' ,price:'15000'},
	{name:'India-Agra',duration: '2days / 3 nights' ,price:'14000'},
        ];
    $scope.orderByMe = function(x) {
        $scope.myOrderBy = x;
    }
	$scope.name = [
        'India-Ooty',
        'India-Agra',
        'France-Paris',
        'UK-London',
        'Tokyo-Japan',
        'Switzerland-Zurich',
        'Switzerland-Geneva',
        'India-Kashmir',
        'India-Agra'
    ];
});

</script>

</body>
</html>
